 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a software developer.</p>
                </div>
                <div class="col-lg-4">
                    <p>During my parttime, I am always working on AI technolgies.</p>
                </div>
            </div>
        </div>
    </section>
